# MARKDOWN
## MARKDOWN
### MARKDOWN
#### MARKDOWN

* **Point1** (bold)
* *Point2* (Ittallic)
* ***Point3*** (Bold and Ittalic)

* Normal Text
    * sublist 1
    * sublist 2

> 1. Point1 
> 2. Point2

* []option1
* []option2
* []option3

* ***adding sites to markdown***
* Google sites -- [1]:https://sites.google.com/view/gitam-221810308022--july-2019
* msn site -- [2]:http://www.msn.com

* [1]option1 
* google site -- [google][1]
[1]: http://google.com

### python basics
* Python version 3.7
- Fundamental programming 
- Object Oriented Programming
- Scripting Programming

In [4]:
 print("Hello,gitam")
 print("hyderabad")

Hello,gitam
hyderabad

In [7]:
print("Hello,gitam","|||",end=" ")
print("hyderabad",end=" ||| ")
print("python programming")

Hello,gitam ||| hyderabad ||| python programming

## Assingment

In [9]:
n1=100
a=b=c=20 # multi variable assingment of the same value
a1,b1,c1 = 111,222,333 # multi variable assingment with different values
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

### Data Types And Conversion
* #### int
* #### float
* #### char
* #### double

In [10]:
a=100;
s1="python"
s2='p'
f1=10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [9]:
c=(input("enter a number "))
print(type(c))
c

enter a number 2
<class 'str'>

'2'

In [4]:
i=100
print(type(i))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [6]:
s1="100"
print(type(s1))
i=int(s1)
print(type(i))

<class 'str'>
<class 'int'>

In [8]:
# A numbeer is given 1234
# find the digit count
a=1234
s1=str(a)
print(len(str(a)))
print(len(str(a)))

4
4

In [11]:
# Reading a value
# input ("Message") -- string
s1=input("enter your name ")
print(s1)
print(type(s1))

enter your name zameer
zameer
<class 'str'>

In [12]:
# want a number as input
n1=int(input("enter a number "))
print(n1,type(n1))

enter a number 1234
1234 <class 'int'>

## OPERATORS
* opeator is the symbol used to perform the specific kind of operations
### Arthematic Operators
* +
* -
* *
* /
* %
- **
* //

In [13]:
n1=1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1**10)
print(n1//10)

1244
1224
12340
123.4
4
8187505353567209228244052427776
123

### Precedence of the Ath Operator
* #### Parenthesis
* #### Power
* #### Multiplication
* #### Addition

In [14]:
x=1+2**3/4+5
print(x)

8.0

In [16]:
x=1+2**3/4*5
print(x)

11.0

### Relational operators 
* ==
* !=
* greater than (>)
* Less than (<)
* less than or equal to (<=)
* Greater than or equal to (>=)

In [17]:
x=10
a1=x>15
print(a1)

False

### Logical Operators
#### used to combine more than single condition
* and(&&)
* or(||)
* not()

In [18]:
i=100
a1=(i>15)and(i<800)
a2=(i>15)and(i>800)
print(a1)
print(a2)

True
False

### Conditional Flow Statement
* Conditional Statement
* Looping Statement

#### if else statement
**Syntax**

if Boolean_condition: <br>
statement <br>
else: <br>
statements <br>

In [19]:
# In check given number is even or odd
n=int(input("Enter a number"))
if n%2==0:
    print("Even")
else:
    print("Odd")

Enter a number3
Odd

In [21]:
# Tocheck the given number is perfectly multiple of three and 5
a=int(input("Enter a Number "))
if a%3==0 and a%5==0:
    print("perfectly divisible")
else:
    print("not divisible")

Enter a Number 15
perfectly divisible

In [24]:
#nTest given number is positive, Negetive or zZero
n=int(input("Enter a Number"))
if n==0:
    print("zero")
elif n>0:
    print("positive")
else:
    print("negetive")

Enter a Number-90
negetive